services:
  - type: redis
    name: aneel-redis
    plan: free
    ipAllowList: []
    maxmemoryPolicy: allkeys-lru

  - type: web
    name: aneel-api
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerCommand: ./start_api.sh
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.10"
      - key: REDIS_URL
        fromService:
          type: redis
          name: aneel-redis
          property: connectionString
      - fromGroup: aneel-secrets

  - type: web
    name: aneel-worker
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerCommand: ./start_worker.sh
    healthCheckPath: /
    envVars:
      - key: PYTHON_VERSION
        value: "3.10"
      - key: REDIS_URL
        fromService:
          type: redis
          name: aneel-redis
          property: connectionString
      - fromGroup: aneel-secrets

envVarGroups:
  - name: aneel-secrets
    envVars:
      - key: TENANT_ID
        sync: false
      - key: CLIENT_ID_SUB
        sync: false
      - key: CLIENT_SECRET_SUB
        sync: false